* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: #5c66ff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  /* line-height: 2; */
}
.score {
  height: 20vh;
  color: #ddffbb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score h2 {
  font-size: 25px;
}
.score p {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
.intro {
  color: #ddffbb;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.intro button,
.match button {
  background-color: rgba(0, 68, 255, 0.952);
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  color: #ddffbb;
  width: 150px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
}

.intro h1 {
  font-size: 50px;
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}
.score {
  transition: opacity 0.5s ease 0.5s;
}
.winner {
  color: #ddffbb;
  text-align: center;
  font-size: 50px;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.computer-hands {
  transform: rotateY(180deg);
}

div.fadeout {
  opacity: 0;
  pointer-events: none;
}

div.fadein {
  opacity: 1;
  pointer-events: all;
}

@keyframes computerHandsShakes {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0px);
  }
  35% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0px);
  }
  65% {
    transform: rotateY(180deg) translateY(-50px);
  }
  75% {
    transform: rotateY(180deg) translateY(0px);
  }
  85% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes playerHandsShakes {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* #type {
  position: relative;
  margin-left: 10px;
}
#type::after {
  content: "";
  right: -5px;
  top: 1%;
  width: 1px;
  height: 7%;
  position: absolute;
  border-right: 2px solid white;
  animation: blink 0.5s ease infinite;
} */

.intro-text {
  position: relative;
  display: flex;
}

#type {
  position: relative;
  margin-left: 5px;
}
#type::after {
  content: "";
  right: -2px;
  top: 5%;
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 2px solid white;
  animation: blink 0.5s ease infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .intro h1 {
    font-size: 35px;
  }
  .intro {
    text-align: center;
  }
  .score {
    font-size: 35px;
    text-align: center;
  }
  .match h2 {
    font-size: 35px;
  }

  .player-hands,
  .computer-hands {
    width: 150px;
    margin: 50px 0;
  }
  .options {
  }
  .options button {
    width: 80px;
    font-size: 16px;
  }
}
